<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats des matchs de football</title>
    <link rel="stylesheet" href="styles.css"> <!-- Lien vers votre fichier CSS -->
</head>
<body>
    <h1>Résultats des matchs de football</h1>
    <form action="/" method="post">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
        <label for="league">Ligue:</label>
        <select id="league" name="league" required>
            <option value="168">Ligue 1</option>
            <option value="302">La Liga</option>
            <option value="152">Premier League</option>
            <option value="175">Bundesliga</option>
            <option value="207">Serie A</option>
        </select>
        <button type="submit">Rechercher</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if matches %}
        <ul>
            {% for match in matches %}
                <li data-match-id="{{ match.match_id }}">{{ match.match_hometeam_name }} {{ match.match_hometeam_score }} - {{ match.match_awayteam_score }} {{ match.match_awayteam_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Classements des ligues</h1>

    <div class="container">
        {% for league_id, league_standings in standings.items() %}
            <div class="league">
                <h2>{{ league_standings[0]['league_name'] }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Équipe</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in league_standings %}
                            <tr>
                                <td>{{ team['overall_league_position'] }}</td>
                                <td>{{ team['team_name'] }}</td>
                                <td>{{ team['overall_league_PTS'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</body>
</html>